/build/
/.gradle/
/src/main/resources/assets
/.idea/
*.project
*.classpath
**/.settings
**/bin
/out/
*.iml
*.zip
**/build
**/out
/log/
/classes
.env

/react-ui/.gradle
/react-ui/node_modules
/react-ui/coverage
/react-ui/build
/react-ui/.DS_Store
/react-ui/.env.local
/react-ui/.env.development.local
/react-ui/.env.test.local
/react-ui/.env.production.local
/react-ui/npm-debug.log*
/react-ui/yarn-debug.log*
/react-ui/yarn-error.log*

/hs_err_pid*
/package-log.json

